
.AboutMe {
  
    padding-bottom: 5%;
}

.AboutMe.Container {
    display:flex;
    background-color: bisque;
}
.AboutMe.Container.Text {
    width: 47%;
    margin-left: 3%;
}
.AboutMe.Container.Text h2 {
    font-weight: 900;
    font-size: 46px;
}
