.Home{
  
    display: flex;
    height: 630px;
    padding-top: 80px;
    position: relative;
}
.Home.Container{
    position: absolute;
    top: 15%;
    left: 2%;
    background-color: lightblue;
}


.Home.Container hi {
    margin: 0;
}